* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent1 {
    width: 100%;
    display: flex;
}

.parent2 {
    width: 50%;
    /* background-image: url(imgi_2_bg.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}